body{
    background-color: black;
}

img{
    height: 500px;
    width: 100%;
}

.box{
    background-color: black;
    border-color: black;
    border-style: solid;
    border-radius: 90%;
    height: 70px;
    width: 200px;
    color: white;
    cursor: pointer;
    transition: border-color 1s;
}

.add-movie-box{
    right: 100px;
    height: 70px;
    width: 300px;
    color: white;
    cursor: pointer;
    transition: border-color 1s;
}
.add-movie-button {
    display: inline-block;
    position: relative;
    font-weight: bold;
    cursor: pointer;

}

.add-movie-button {
    display: inline-block;
    position: relative;
    color: black; /* Change color as needed */
    font-weight: bold;
    cursor: pointer;
}

.add-movie-button::after {
    content: '';
    position: absolute;
    left: 20%; /* Center the line */
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 60%; /* 60% of the button's width */
    height: 2px; /* Thickness of the line */
    background-color: rgb(245, 245, 220, 0.7); /* Beige color for the line */
    opacity: 0; /* Initially invisible */
    transition: opacity 1s; /* Transition duration */
}

.add-movie-button:hover::after {
    opacity: 1; /* Make the line visible on hover */
}


.box:hover {
    border-color: rgb(245, 245, 220, 0.7);

}
.font-style{
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    letter-spacing: -1.4px;
    word-spacing: -3.2px;
    color: #FFF5E2;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}

.add-movie-button{
    display: none;
}

.movie-list-page{
    display: none;
}

.logo{
    margin-top: 15px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: auto;
    display: none;
}

.background{
    background-image: url("https://cdn.dribbble.com/users/8187682/screenshots/15833257/media/480403e246c91526976b86f38ad51ff3.jpg?resize=1600x1200&vertical=center");
    /*background-image:url("background.jpeg") ;*/
    /*background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/79d4be165686349.642b47bc99273.png");*/
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: none;

}

.create-movie-field {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 300px;
    width: 300px;
    position: absolute;
    border-style: solid;
    border-color: rgba(245, 245, 220, 0.7); /* Set the RGBA color with 0.7 opacity */
    border-top: none; /* Remove the top border */
    display: none;
    top: 85px;
    right: 0;
    z-index: 3;
    background-color: black;
    transition: opacity 1s; /* Smooth transition for opacity */
    box-shadow: -1px 2px 6px 3px rgba(0,0,0,0.47);
}



.image-container {
    position: relative;
    overflow: hidden;
}
.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.image-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}

input {
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0px;
    word-spacing: -3.2px;
    color: #FFF5E2;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid rgba(188, 154, 120, 0.5); /* Beige color with slight transparency */
    background-color: transparent; /* Transparent background */
    padding: 5px 10px;
    font-size: 16px;
    outline: none; /* Remove focus border */
    transition: border-color 0.3s; /* Smooth transition for hover effect */
}


input:hover {
    border-bottom-color: rgba(188, 154, 120, 1); /* Full color on hover */
}


@media screen and (max-width: 600px) {
    img {
        height: 300px;
    }
    .logo {
        width: 150px;

    }
    .background{
        height: 200px;
    }
    .add-movie-box{
        width: 150px;
    }
}

#size {
    font-size: 18px;
}

.create-movie-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.create-movie-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust the thickness of the line */
    width: 100%;
    height: 2px; /* Thickness of the line */
    background-color: beige; /* Beige color for the line */
    opacity: 0; /* Initially invisible */
    transition: opacity 1s; /* Transition duration */
}

.create-movie-button:hover::after {
    opacity: 1; /* Make the line visible on hover */
}



.movie-field{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.movie-box{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
}
.hover-with-info{
    padding: 10px;
    width: 100%;
    height: 100%;
    opacity: 0%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: end;

}

.hover-with-info:hover{
    background-color: black;
    opacity: 70%;
}
.seats{
    border-style: solid;
    border-color: beige;
    padding: 5px;
    height: auto;
    width: 80%;
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    letter-spacing: -1.4px;
    word-spacing: -3.2px;
    color: #FFF5E2;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;

}

.delete{
    border-style: solid;
    border-color: indianred;
    padding: 3px;
    height: auto;
    width: 80%;
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
    letter-spacing: -1.4px;
    word-spacing: -3.2px;
    color: #FFF5E2;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;

}


.title{
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    letter-spacing: -1.4px;
    word-spacing: -3.2px;
    color: #FFF5E2;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}

.seat-selecting-page{
    display: none;
}
.all-movies{
    display: none;
}

.screen{
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    letter-spacing: -1.4px;
    word-spacing: -3.2px;
    color: #FFF5E2;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;


}

.chosen-movie-box{
    margin-top: 45px;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
}

.seat-icon{
    height: 50px;
    width: 50px;
    background-color: white;

}
.book-seat{
    height: auto;
    width: 100%;
}

.size{
    height: auto;
    width: 100%;
}

